.filter__container{
    /* display: flex;
    max-width: 1366px;
    margin: 0 auto; */
    display: flex;
    max-width: 1306px;
    margin: -58px auto 60px auto;
    padding: 30px;
    background: #f3f3f3;
    justify-content: space-evenly;
}

.filter__header{
    display: grid;
}

.filter__header label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.filter__header select{
    padding: 6px;
}

.filter__header select option{
    padding: 10px;
}

/* .filter__container{
    display: flex;
    max-width: 1366px;
    margin: 30px auto;
} */

.filter__header{
    flex:1;
    padding:0px 30px 0px 0px;
    max-width: 200px;
}

.range {
    -webkit-appearance: none;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 0;
    background: none;
  }
  
  .range::-webkit-slider-runnable-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: 1px solid transparent;
  }

  .range::-moz-range-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: none;
  }
  
  .range::-ms-track {
    color: transparent;
    border: none;
    background: none;
    height: 6px;
  }
  
  .range::-ms-fill-lower { 
    background-color: #d7dbdd;
    border-radius: 3px;
  }
  
  .range::-ms-fill-upper { 
    background-color: #d7dbdd;
    border-radius: 3px;
  }
  
  .range::-ms-tooltip { display: none; /* display and visibility only */ }
  
  .range::-moz-range-thumb {
    border-radius: 20px;
    height: 18px;
    width: 18px;
    border: none;
    background: none;
    background-color: #606670;
  }
  
  .range:active::-moz-range-thumb {
    outline: none;
  }
  
  .range::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    margin-top: -7px;
  }
  
  .range[disabled]::-webkit-slider-thumb {
    background-color: transparent;
    border: 1px solid #d7dbdd;
  }
  
  .range:active::-webkit-slider-thumb {
    outline: none;
  }
  
  .range::-ms-thumb { 
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px; 
    border: none;
  }
  
  .range:active::-ms-thumb {
    border: none;
  }

@media screen and (max-width: 1024px){
    .filter__header:not(:first-child){
        margin:0px 15px;
        padding:0px;
    }
    .filter__container{
        /* margin:30px 25px; */
        margin-left:25px;
        margin-right: 25px;
    }
}

@media screen and (max-width: 568px){
    .filter__container{
        flex-direction: column;
        margin:0px 25px;
    }
    .filter__header:not(:first-child){
        margin:15px 0px;
        padding:0px;
    }
}