::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 0.6rem;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0d1b2a;
}

#root{
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
}

.app__wrapper{
	flex-grow: 1;
}

@media screen and (max-width: 1400px) {
	h1 {
	  font-size: 1.75rem;
	}
	h2 {
	  font-size: 1.5rem;
	}
	h3 {
	  font-size: 1rem;
	}
	h4 {
	  font-size: 1rem;
	}
	p, .reviews__style, .review__by__style{
		font-size: 0.95rem;
	}
	body {
	  font-size: 1rem;
	}
	.navbar{
		font-size: 1rem;
	}
}